.wrapper {
    padding: 2rem;
    border: 1px solid white;
    border-radius: 1rem;
    width: fit-content;
    background-color: var(--background);
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
}

.gameGrid {
    display: grid;
    gap: 0.5rem;
}

.gameRow {
    display: flex;
    gap: 0.5rem;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.button {
    padding: 0.5rem 1rem;
    /* border: 1px solid var(--text); */
    border-radius: 1rem;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    background-color: var(--accent);
}

.scene {
    width: clamp(3rem, 5vw, 5rem);
    aspect-ratio: 1;
    perspective: 10rem;
}


.card {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;     
    user-select: none;
    &.flipped {
        transform: rotateY(180deg);
    }
}

.cardImage {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-size: cover;
    padding: 0.5rem;
}

.cardFace {
    position: absolute;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    border: 3px solid var(--text);

    color: white;
    text-align: center;
    font-weight: bold;
    /* font-size: 40px; */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* opacity: .5; */
    /* backdrop-filter: blur(2rem);
            -webkit-backdrop-filter: blur(2rem); */
    &.front {
        overflow: hidden;
        
        background-color: var(--secondary);
    }
    &.matched {
        animation: popout 0.5s 0.5s ease-in-out 1;
    }

    &.popout {
        animation: rotate 0.5s 0.5s ease-in-out;
        /* transition: scale 0.5s ease-in-out;
        scale: 1.05; */
    }

    &.back {
        transform: rotateY(180deg);
        overflow: hidden;
  
        &::before {
            content: "";
            position: absolute;
            background-color: var(--primary);
            inset: 0;
            /* backdrop-filter: blur(2rem);
            -webkit-backdrop-filter: blur(2rem); */
            /* opacity: 0.4; */
            z-index: -1;
        }
    }
}

@keyframes popout {
    70% {
        scale: 1.07;
    }
}

@keyframes rotate {
    /* from {
        rotate: 0deg;
    } */
    70% {
        scale: 1.07;
    }
    to {
        rotate: 360deg;
    }
}


@media (max-width: 768px) {

    .gameGrid, .gameRow {
        gap: 0.25rem;
    }   
    
}