@import url("https://fonts.googleapis.com/css?family=Nunito%20Sans:700|Noto%20Sans%20Palmyrene:400");

@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
    box-sizing: border-box;
    transition: background-color .3s, border-color .3s, box-shadow .3s;
}

:root,
:root[data-theme="default"] {
    --text: #ffffff;
    --background: #303030;
    --primary: #cbcbcb;
    --secondary: #767676;
    --accent: #b0b0b0;
}
:root[data-theme="blueberry"] {
    --text: #dee5ee;
    --background: #2c3848;
    --primary: #89b2e9;
    --secondary: #2c486e;
    --accent: #5180c0;
}
:root[data-theme="cyber"] {
    --text: #ddf5fe;
    --background: #01181f;
    --primary: #73dafa;
    --secondary: #4a0596;
    --accent: #a51fbd;
}
:root[data-theme="apple"] {
    --text: #ddf8dd;
    --background: #2d4c2d;
    --primary: #8de78f;
    --secondary: #1b7e46;
    --accent: #12b268;
}
:root[data-theme="raspberry"] {
    --text: #f2d8f4;
    --background: #322432;
    --primary: #db89df;
    --secondary: #8c2736;
    --accent: #d25e70;
}
:root[data-theme="strawberry"] {
    --text: #f8dde4;
    --background: #371418;
    --primary: #e9919b;
    --secondary: #b91c2e;
    --accent: #e47b87;
}

.strawberry-theme{
    color: #f8dde4;
    border: 4px solid #e47b87;
    border-radius: .5em;
    background-color:  #b91c2e;
    padding: 1rem;
}

.default-theme{
    color: #ffffff;
    border: 4px solid #b0b0b0;
    border-radius: .5em;
    background-color:  #767676;
    padding: 1rem;
}

.raspberry-theme{
    color: #f2d8f4;
    border: 4px solid #d25e70;
    border-radius: .5em;
    background-color:  #8c2736;
    padding: 1rem;
}

.apple-theme{
    color: #ddf5fe;
    border: 4px solid #12b268;
    border-radius: .5em;
    background-color:  #1b7e46;
    padding: 1rem;
}

.cyber-theme{
    color: #ddf5fe;
    border: 4px solid #a51fbd;
    border-radius: .5em;
    background-color:  #4a0596;
    padding: 1rem;
}

.blueberry-theme{
    color: #dee5ee;
    border: 4px solid #89b2e9;
    border-radius: .5em;
    background-color:  #2c486e;
    padding: 1rem;
}

:root {
    line-height: 1.5;

    color: var(--text);
    background-color: var(--background);

    font-synthesis: style;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: "Noto Sans Palmyrene";
    font-weight: 400;

    background-color: var(--background);
    /* background-image: var(--background-image); */
    font-size: clamp(16px, 1.5vw, 20px);
    background-position: center;
    background-size: cover;
    min-height: 100svh;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Nunito Sans";
    font-weight: 700;
}

html {
    font-size: 100%;
} /* 16px */

h1 {
    font-size: 4.21rem; /* 67.36px */
}

h2 {
    font-size: 3.158rem; /* 50.56px */
}

h3 {
    font-size: 2.369rem; /* 37.92px */
}

h4 {
    font-size: 1.777rem; /* 28.48px */
}

h5 {
    font-size: 1.333rem; /* 21.28px */
}

small {
    font-size: 0.75rem; /* 12px */
}

@keyframes expand {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
